*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --text-color: #fff;
    --bg-color: #1b1f24;
    --second-bg-color: #22282f;
    --main-color: #13bbff;
    --other-color: #c3cad5;
    --h1-font: 4rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
}
body{
    color: var(--text-color);
    background-color: var(--bg-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10%;
    background: transparent;
    transition: all .5s ease;
}
.logo{
    font-size: 36px;
    color: var(--text-color);
    font-weight:600;
}
span{
    color: var(--main-color)
}
.navlist{
    display: flex;
}
.navlist a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 40px;
    transition: all .5s ease;
}
.navlist a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}
#menu-icon{
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    padding-bottom: 0;
}
.h-btn{
    display: inline-block;
    border: solid var(--main-color);
    transition: all .5s ease;
    border-radius: 50%;
    background: var(--main-color);
}
.top-btnn img{
    width: 60px;
    border-radius: 50%;
    margin: 0;
    padding-bottom: 0;
}
.h-btn:hover{
    
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);
}
section{
    padding: 110px 16% 90px;
}
.home{
    height: 100vh;
    width: 100%;
    background: url(../Assets/home.png);
    background-position: top right;
    background-size: 35%;
    background-repeat: no-repeat; 
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.main-content h4{
    font-size: 1.6rem;
}
.main-content h1{
    font-size: var(--h1-font);
    font-weight: 900;
    margin: 20px 0px 20px;
    line-height: 1.2r;
}

.home-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mission-statement{
    padding-right:10px;
    height: 30vh;
    border: solid var(--main-color);
    border-radius: 10px;
    text-align: center;
}
.mission-statement h1{
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--main-color)
}
.home-2 iframe{
    padding-left:10px;
    width: 100%;
    height: 80vh;
    border-radius: 10px;
}
.home-3, .home-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.academic-life{
    margin-top: 10px;
    align-self: center;
    height: 50vh;
    border: solid var(--main-color);
    border-radius: 10px;
    text-align: center;
}
.academic-life h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--main-color)
}
.hero-motto{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.hero-motto h4{
    padding-left: 10px;
    color: var(--main-color);
}
.personality img{
    justify-self: center;
    margin-top: 40px;
    width: 80%;
    border-radius: 10px;
}

.development{
    margin-top: 10px;
    padding: 20px;
    line-height: 20px;
    align-self: center;
    height: 50vh;
    border: solid var(--main-color);
    border-radius: 10px;
    text-align: justify;

}
.development h1{
    padding-bottom: 20px;
    color: var(--main-color);
    text-align: center;
}
.development strong{
    color: var(--main-color);
}
.development p{
    padding-top: 20px;
    text-align: center;
    color: var(--main-color);
}